@import 'base/normalize.scss';
@import 'base/reset.scss';

main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  &.safari-moblie {
    min-height: calc(100vh - 75px);
  }

  > header,
  > footer {
    flex-shrink: 0;
  }

  > section {
    flex-grow: 1;
  }
}
